# Logs
logs
*.log
npm-debug.log*

# Node dependencies
node_modules/
dist/
dist-ssr/
*.local

# Environment files
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
